footer {
    background: #F7F7F7;
}

#footer {
    text-align: center;
}

.sticky-footer {
    position: relative;
}

.absolute-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer p { 
    text-align: center;
    color: #AFAFAF;
}

#logo-footer {
    text-align: center;
    width: 45px;
}