#card {
    color: white;
    background: #FF8500;
    height: 100%;
}

a {
    text-decoration: none !important;
    color: inherit;
}

#sum {
    color: white;
    text-align: left;
}

.action a button {
    color: white;
}