nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav img {
    height: 35px;
    margin-right: 1.5rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1.2rem;
    margin: 0;
    flex-grow: 1;
}

nav ul li a {
    text-decoration: none;
    color: #AFAFAF;
}

nav ul li a:hover {
    color: black;
}

nav ul li.active a {
    color: black;
}

nav .navbar-right {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
}

.logout-item, .admin-panel {
    text-decoration: none;
    cursor: pointer;
    color: #AFAFAF;
}

.logout-item {
    color: rgb(214, 50, 50);
}

.admin-panel {
    color: #FF8500;
}

@media(max-width: 991.98px){
    .navbar-nav {
        margin-top: 1.3rem;
    }

    nav .navbar-right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.9rem;
        margin-left: 0;
        text-align: left;
    }
}
