nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav img {
    height: 35px;
    margin-right: 0rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1.2rem;
    margin: 0;
    flex-grow: 1;
}

nav ul li a {
    text-decoration: none;
    color: #AFAFAF;
}

nav ul li a:hover {
    color: black;
}

nav ul li.active a {
    color: black;
}

nav .navbar-right {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
}

.logout-item {
    text-decoration: none;
    cursor: pointer;
    color: #AFAFAF;
}

.logout-item {
    color: rgb(214, 50, 50);
}
