nav img {
    height: 35px;
    margin-right: 0rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1.2rem;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #AFAFAF;
}

nav ul li.active a {
    color: black;
}
