#img {
    width: 100%;
    border-radius: 1.5rem;
    height: 100%;
}
  
#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-links a {
    text-decoration: none;
    transition: transform 0.2s ease;
    font-size: 1.25rem;
}

.social-links a:hover {
    transform: scale(1.1);
}