@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 { font-family: 'Times New Roman', Times, serif; }
h2 { font-family: 'Times New Roman', Times, serif; }
h3 { font-family: 'Times New Roman', Times, serif; }
h4 { font-family: 'Times New Roman', Times, serif; }
h5 { font-family: 'Times New Roman', Times, serif; }
h6 { font-family: 'Times New Roman', Times, serif; }
p { font-family: 'Lato', Times, serif; text-align: justify; color: gray }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#button {
  border: 1px solid #FF8500;
  color: #FF8500;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
}

#button:hover {
  background: #FF8500;
  color: white;
}

#line {
  border: 1px solid #DFDFDF;
}

#photo {
  width: 100%;
  border-radius: 0.5rem;
}